huggingface-hub
librosa
matplotlib
pandas
pillow
protobuf
scikit-image
scikit-learn
scipy
soundfile
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
tokenizers>=0.14.0,<0.15
transformers==4.34.0
torch==2.10.0
torchvideo
torchaudio
torchfile
torchlibrosa
torchmetrics
torchvision
gradio==3.47.1
gdown
lightning
ftfy
braceexpand
webdataset
soundfile
wget
h5py
